.displayBox{
  display: flex;
  flex-direction: row;
}

.userInfoBox{
  margin-top: 2rem;
}

.pageContainer {
  padding: 2rem;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
  ;
}