.navSplit{
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 2.5rem;
}

.link {
  all: unset;
  &:hover{
    cursor: pointer;
    border-bottom: 1px #1971c2 solid;
    border-radius: 5px;
  }
  &:active{
    font-weight: bold;
  }
 
}